<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movies</title>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar('movies')}"></div>

<main>

    <!-- BUTON ADD MOVIE -->
    <div th:if="${session.user != null and session.user.role == 'Employee'}">
        <a th:href="@{/staff/movies/add}">
            Add movie
        </a>
    </div>

    <!-- LISTA FILME -->
    <div th:each="m : ${movies}">
        <h3 th:text="${m.title}">Movie title</h3>
        <p th:text="${m.genre}"></p>
    </div>

</main>

</body>
</html>
